{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
	<div class="page-header" style="padding-top:0">
		<h1 style="margin:0">Home</h1>
	</div>
	<div class="row">
		<div class="col-sm-8">
{% if entries %}
            <div class="card-header"><h4>Timetable for {{ entries[0][0].weekday }}</h4></div>
                <div class="card-body">
{% for entry in entries %}
{{ entry[1] }} - {{ entry[0].subject.name }}, {{ entry[0].room.name }}, {{ entry[0].professor.name }}
<br>
{% endfor %}
{% endif %}
		        </div>

{% if useragent_firefox %}
<h2>Looks like you're using firefox</h2>
Some features, like notifications, won't work with firefox browser.
<p>
Firefox developers decided to <a href="https://www.i-programmer.info/news/87-web-development/14261-firefox-drops-support-for-pwa.html" rel="noopener" target="_blank">remove PWA support</a> and block service worker loading.
<p>
Author of this site strongly advises against using Mozilla Firefox. <small class="text-muted">Even though he continues to use it.</small>
{% endif %}
        	</div>
		</div>
	</div>
{% endblock %}
