{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
	<div class="page-header" style="padding-top:0">
        <h1 class="bd-title" id="content">Home</h1>
	</div>
	<div class="row">
		<div class="col-sm-8">
{% if not current_user.is_authenticated %}
<h2>Authenticate to see the timetable.</h2>
{% endif %}
{% if announcements %}
<h3>Announcements:
{% for announcement in announcements %}
<div aria-label="Announcement {{ loop.index }} {{ announcement.message }}" style="all:unset;">{{ announcement.message }}</div>{% if not loop.last %} | {% endif %}
{% endfor %}
</h3>
{% endif %}
{% if entries %}
<h4>Timetable for {{ entries[0][0].weekday }}, week {{ week }}</h4>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Subject</th>
      <th scope="col">Room</th>
      <th scope="col">Professor</th>
    </tr>
  </thead>
<tbody>
{% for entry in entries %}
<tr>
<th scope="row">{% if entry[1] == 1 %}9:00-10:20{% elif entry[1] == 2 %}10:30-11:50{% elif entry[1] == 3 %}12:40-14:00{% elif entry[1] == 4 %}14:10-15:30{% else %}15:40-17:00{% endif %}</th>
<td>{{ entry[0].subject.name }}</td>
<td>{{ entry[0].room.name }}</td>
<td>{{ entry[0].professor.name }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% elif current_user.is_authenticated %}
<h4>No lessons {% if request.url_rule.endpoint == "main.index" %}today{% else %}tomorrow{% endif %}.</h4>
{% endif %}
</div>
{% if current_user.is_authenticated %}
{% if request.url_rule.endpoint != "main.tomorrow" %}<a href="{{ url_for('main.tomorrow') }}" class="mb-2">Lessons tomorrow</a>{% endif %}
{% if request.url_rule.endpoint != "main.index" %}<a href="{{ url_for('main.index') }}" class="mb-2">Lessons today</a>{% endif %}
<a href="{{ url_for('main.week', week_num=week) }}" class="mb-2">Week view</a>
{% endif %}
</div>
</div>
{% endblock %}
