{% extends 'base.html' %}
{% block title %}Week view{% endblock %}
{% block head %}
    {{ super() }}
<style>
table tbody th {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
</style>
{% endblock %}
{% block content %}
	<div class="page-header" style="padding-top:0">
        <h1 class="bd-title" id="content">Home</h1>
	</div>
	<div class="row">
		<div class="col-sm-8">

<h4>Timetable for week {{ week }}</h4>
<h5>{{ day }}</h5>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Time</th>
      <th scope="col">Subject</th>
      <th scope="col">Room</th>
      <th scope="col">Professor</th>
    </tr>
  </thead>
<tbody>
{% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
{% set outer_loop = loop %}
{% for entry in entries[loop.index0] %}
<tr>
{% if loop.first %}<th rowspan="{{ loop.length }}" style="background-color: {{ colors[outer_loop.index0] }} !important;">{{ day }}</th>{% endif %}
<td scope="row">{% if entry[1] == 1 %}9:00-10:20{% elif entry[1] == 2 %}10:30-11:50{% elif entry[1] == 3 %}12:40-14:00{% elif entry[1] == 4 %}14:10-14:30{% else %}15:40-17:00{% endif %}</td>
<td>{{ entry[0].subject.name }}</td>
<td>{{ entry[0].room.name }}</td>
<td>{{ entry[0].professor.name }}</td>
</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
{% endblock %}
