{% extends 'base.html' %}
{% from 'macros.html' import render_breadcrumb %}

{% block title %}Add Entry{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/autocomplete.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="row" id="content">
            <div class="col-md-8">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header"><h4>Add entry to the timetable</h4></div>
                    <div class="card-body">

<form autocomplete="off" action="{{ url_for('dash.add_entry') }}" method="POST">
{{ form.csrf_token }}
<div class="form-group">
{% if current_user.is_admin %}
    <label for="group_input">Select group</label>
    <select id="group_input" class="form-control" name="group">
{% if groups %}
      {% for key in groups %}
      <option>{{ key.name }}</option>
      {% endfor %}
{% else %}
      <option>Create a group before adding entries</option>
{% endif %}
    </select>
{% endif %}
    <div class="autocomplete mt-1">
        <input id="subj_inp" type="text" name="subject" placeholder="Subject">
    </div>
    <div class="autocomplete">
        <input id="prof_inp" type="text" name="professor" placeholder="Professor">
    </div>
    <div class="autocomplete">
        <input id="room_inp" type="text" name="room" placeholder="Room">
    </div>

    <div class="form-group form-inline mb-1">
    <label for="weeks_input">Lesson numbers</label>
    <select id="lessons_input" name="lessons[]" multiple="multiple" style="width:100%">
      <option value="1">1 (9:00-10:20)</option>
      <option value="2">2 (10:30-11:50)</option>
      <option value="3">3 (12:40-14:00)</option>
      <option value="4">4 (14:10-15:30)</option>
      <option value="5">5 (15:40-17:00)</option>
    </select>
    </div>

    <div class="form-group form-inline mb-1">
    <label for="weeks_input">Week numbers (when lesson occurs)</label>
    <select id="weeks_input" class="form-control" name="weeks[]" multiple="multiple">
      {% for week in range(1,20) %}
      <option>{{ week }}</option>
      {% endfor %}
    </select>
    <button class="btn btn-outline-secondary mt-1" type="button" id="dateinput_btn">Date Input</button>
    </div>

    <label for="day_input">Day of the week</label>
    <select id="day_input" class="form-control" name="day">
      {% for key in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
      <option>{{ key }}</option>
      {% endfor %}
    </select>
  </div>
  <input type="submit" class="mt-3" value="Add entry">
</form>

</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script>
    autocomplete(document.getElementById("subj_inp"), "{{ url_for('api.subjects') }}");
    autocomplete(document.getElementById("prof_inp"), "{{ url_for('api.proffessors') }}");
    autocomplete(document.getElementById("room_inp"), "{{ url_for('api.rooms') }}");
    $('#day_input').select2();
    $('#weeks_input').select2();
    $('#lessons_input').select2();
    $('#group_input').select2();
    $('#dateinput_btn').click(function() {
        $('#weeks_input').select2('destroy');
        $('#weeks_input').replaceWith('<br><input type="date" id="weeks_input" name="date">');
        $('#dateinput_btn').remove();
    });
    </script>
{% endblock %}
{% block breadcrumbs %}
{{ render_breadcrumb('dash.index', "Dashboard") }}
{% endblock breadcrumbs %}
