{% extends 'base.html' %}
{% from 'macros.html' import render_breadcrumb %}

{% block title %}Eidt Subject{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/autocomplete.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="row" id="content">
            <div class="col-md-8">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header"><h4>Edit subject name</h4></div>
                    <div class="card-body">

<form autocomplete="off" action="{{ url_for('dash.edit_subject', subject_id=subject.id) }}" method="POST">
{{ form.csrf_token }}
<div class="form-group">
    <div class="autocomplete">
        <input id="subject_inp" type="text" name="subject" placeholder="Subject" value="{{ subject.name }}">
    </div>
  </div>
  <input type="submit"  style="margin-top:4px" value="Apply changes">
</form>

</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
    <script>
    autocomplete(document.getElementById("subject_inp"), "{{ url_for('api.subjects') }}");
    </script>
{% endblock %}
{% block breadcrumbs %}
{{ render_breadcrumb('dash.index', "Dashboard") }}
{% endblock breadcrumbs %}
